.home{
    padding: 60px;
    background-color: black;
    user-select: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    gap: 30px;
}
.hero a{
    text-decoration: none;
}
h1{
    padding: 50px 0;
    text-align: center;
}

